version: "3.9"

services:
  app:
    build: .
    container_name: linkedin-insights-api
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:6
    container_name: linkedin-insights-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: linkedin_insights
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: linkedin-insights-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  mongo_data:
